<nav class="navbar is-link block">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">Christchurch MetroSplash</a>
    </div>
  </div>
</nav>

<section class="container">
  <h1 class="title">My Stops</h1>
  <div class="tile is-ancestor">
    <div class="tile is-parent" style="flex-wrap: wrap;">
      <app-next-bus class="tile is-narrow"></app-next-bus>
      <app-next-bus class="tile is-narrow"></app-next-bus>
      <app-next-bus class="tile is-narrow"></app-next-bus>
      <app-next-bus class="tile is-narrow"></app-next-bus>
      <app-add-bus-tile class="tile is-narrow"></app-add-bus-tile>
    </div>
  </div>

</section>