<nav class="navbar is-link block">
  <div class="container">
    <div class="navbar-brand">
      <span class="navbar-item">
        <img src="assets/altmetro.png" width="96" height="20" alt="AltMetro">
      </span>
      <a class="navbar-item is-tab is-active">
        Stops
      </a>
    </div>

  </div>
</nav>

<app-platform-view></app-platform-view>

<footer class="footer">
  <div class="content has-text-centered is-small">
    <p>
      <strong>AltMetro</strong> by <a href="https://github.com/cloventt">David Palmer</a>. The source code is licensed
      <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>, except where data is provided by Environment Canterbury.
    </p>
  </div>
</footer>