
.tag:not(body).is-bus1 {
    background-color: #3ebced;
    color: white;
}

.tag:not(body).is-bus3 {
    background-color: #554588;
    color: white;
}

.tag:not(body).is-bus5 {
    background-color: #ffc20e;
    color: black;
}

.tag:not(body).is-bus7 {
    background-color: #f37021;
    color: white;
}

.tag:not(body).is-bus28 {
    background-color: #f79328;
    color: black;
}

.tag:not(body).is-bus29 {
    background-color: #00539f;
    color: white;
}

.tag:not(body).is-bus44 {
    background-color: #0074ad;
    color: white;
}

.tag:not(body).is-bus60 {
    background-color: #da6fab;
    color: white;
}

.tag:not(body).is-bus80 {
    background-color: #717dbd;
    color: white;
}

.tag:not(body).is-bus81 {
    background-color: #f05b7c;
    color: white;
}

.tag:not(body).is-bus85 {
    background-color: #f05a4e;
    color: white;
}

.tag:not(body).is-bus86 {
    background-color: #cbdb2a;
    color: black;
}

.tag:not(body).is-bus87 {
    background-color: #c34074;
    color: white;
}

.tag:not(body).is-bus91 {
    background-color: #008644;
    color: white;
}

.tag:not(body).is-bus92 {
    background-color: #946338;
    color: white;
}

.tag:not(body).is-bus95 {
    background-color: #c41039;
    color: white;
}

.tag:not(body).is-bus97 {
    background-color: #906FA1;
    color: white;
}

.tag:not(body).is-bus100, .tag:not(body).is-bus {
    background-color: #88807e;
    color: white;
}

.tag:not(body).is-bus107 {
    background-color: #46a299;
    color: white;
}

.tag:not(body).is-bus120 {
    background-color: #faa61a;
    color: white;
}

.tag:not(body).is-bus125 {
    background-color: #5f9937;
    color: white;
}

.tag:not(body).is-bus140 {
    background-color: #00929e;
    color: white;
}

.tag:not(body).is-bus155 {
    background-color: #9d6da9;
    color: white;
}

.tag:not(body).is-bus820 {
    background-color: #46ba7c;
    color: white;
}

.tag:not(body).is-busF {
    background-color: #005899;
    color: white;
}

.tag:not(body).is-busOr {
    background-color: #79bc43;
    color: white;
}